:root {
    --color-theme: rgb(0, 120, 120);
    --color-shadow: rgba(0, 0, 0, 0.844);
}

html, body {
    margin: 0;
    padding: 0;
    font-family: system-ui;
}

body {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.todo {
    background-color: white;
    border: solid var(--color-theme);
    height: 350px;
    width: 300px;
    box-shadow: 0px 2px 5px var(--color-shadow);
}
  
.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--color-theme);
    color: white;
    height: 110px;
}

.title {
    margin: 1rem 0rem 1rem;
    padding: 0rem 1rem 0rem;
}

.manager {
    padding: 0rem 1rem 0rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.manager > input {
    width: 80%;
    border: 0px;
    border-radius: 3px;
    outline: none;
    box-shadow: 0px 3px 6px gray;
}

.manager > button {
    height: 25px;
    width: 25px;
    background-color: var(--color-theme);
    color: white;
    border-radius: 50%;
    border: 1px solid white;
    box-shadow: 0px 3px 6px gray;
    -webkit-transition: border 0.2s, color 0.2s, background-color 0.2s;
    -moz-transition: border 0.2s, color 0.2s, background-color 0.2s;
    -ms-transition: border 0.2s, color 0.2s, background-color 0.2s;
    -o-transition: border 0.2s, color 0.2s, background-color 0.2s;
    transition: border 0.2s, color 0.2s, background-color 0.2s;
}

.manager > button:hover {
    background-color: white;
    border: 1px solid var(--color-theme);;
    color: var(--color-theme);;
    cursor: pointer;
}

.manager > button:active {
    background-color: var(--color-theme);
    color: white;
}

#tasks {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 10px 5px;
}